.all-characters {
  border: 10px solid brown;
  display: flex;
  flex-direction: column;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  text-align: center;
}

.card {
  border: 2px solid brown;
  display: inline-block;
  margin: 10px;
  padding: 20px;
}

.card button {
  margin: 5px;
}

.alive {
  border: 10px solid green;
  display: flex;
  text-align: center;
  align-items: center;
}

.card img {
  height: 120px;
  width: auto;
}

.alive-card {
  border: 2px solid green;
  display: inline-block;
  margin: 10px;
  padding: 20px;
}